
/* basket */
.basket {
    display: flex;
    flex-direction: column;

    height: 800px;
    width: 400px;
    max-height: 100vh;

    background-color: #363534;
    border-radius: 15px 0 0 15px;

    padding: 20px;
    box-sizing: border-box;

    overflow: hidden; /* wichtig: kein Scroll hier */
    top: 12px;
    position: sticky;
}



/* Sticky Header */
.basket h2 {
    padding-bottom: 10px;
    text-align: center;
}

/* Scrollbarer Bereich für Items */
.basket-dishes {
    flex: 1;                 /* nimmt freien Platz ein */
    overflow-y: auto;        /* 🔥 Scroll aktiv */
    margin: 10px 0;
    max-height: 500px;
}

/* 🔽 FIXER FOOTER */
.basket_summary {
    height: 150px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1px solid #555;
    padding-top: 12px;

    background-color: #363534;
}

/* ITEMS LISTE */
#basketItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ITEM DESIGN */
.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 16px;
    margin-bottom: 12px;

    background: #fdeadc; /* dein Farbton */
    border-radius: 16px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    
    color: #2c3e50;

    min-height: 90px;
    height: 150px;
    max-width: 95%;
    font-size: 24px;
    font-weight: 800;
}

.basket-costs {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}


.buy_button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Button bleibt unten */
.buy_button {
    width: 100%;
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 999px;
    cursor: pointer;
}