/* basket */


.basket {
    display: none;
    flex-direction: column;

    height: 795px;
    width: 435px;
    max-height: 100vh;

    background-color: #363534;
    border-radius: 15px 0 0 15px;

    padding: 20px;
    box-sizing: border-box;

    overflow: hidden;
    top: 12px;
    position: sticky;
}

/* sichtbar Zustand */
.basket.active {
    display: flex;
}


/* Sticky Header */
.basket h2 {
    padding-bottom: 10px;
    text-align: center;
}

/* Scrollbarer Bereich für Items */
.basket-dishes {
    flex: 1;
    overflow-y: auto;
    margin: 10px 0;
    max-height: 500px;
}

/* FIXER FOOTER */
.basket_summary {
    height: 150px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1px solid #555;
    padding-top: 12px;

    background-color: #363534;
}

/* ITEMS LISTE */
#basketItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ITEM DESIGN */
.basket-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 14px 16px;
    margin-bottom: 12px;

    background: #fdeadc;
    border-radius: 16px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

    color: #2c3e50;

    min-height: 90px;
    height: 110px;
    max-width: 95%;

    font-size: 18px;
    font-weight: 800;
}

/* OBEN DISH */
.basket-top {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 800;
}

/* UNTEN AMOUNT LINKS / PREIS RECHTS */
.basket-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-costs {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.buy_button {
    width: 100%;
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 999px;
    cursor: pointer;
}


.basket-actions {
    display: flex;
    gap: 10px;
    align-items: center; /* wichtig */
}

.basket-actions span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-actions img {
    display: block;
}

.basket-price {
    font-weight: bold;
}

.basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: inherit;
}

.basket-close-btn:hover {
    opacity: 0.6;
}

.orderDialog img {
    width: 50px;
    margin-bottom: 10px;
}

.dialog_button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.orderDialog {
    width: 415px;
    height: 219px;
    background-color: #363534;
    color: white;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 12px;
    padding: 20px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 999;
    
    position: fixed;
}

.dialog_closeX {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    color: white;
}